.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

  .event-name,
  .countdown {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }

  .event-name {
    color: #800080;
  }

  .countdown {
    color: #000;
  }
}

@media (max-width: 767px) {
  .countdown-container {
    height: auto;
  }
}
