.countdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;

  .event-name {
    color: #800080;
    text-align: center;
    margin-bottom: 20px;
  }

  .countdown {
    color: #000;
    text-align: center;
  }
}
